body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  margin-bottom: 15%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-icons img {
  float: right;
  height: 25px;
  margin-right: 1%;
  margin-top: 1%;
  opacity: 0.7;
}

.hero-image img:hover {
  opacity: 0.9;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-color: yellow;
  text-shadow: 4px;
  text-emphasis-color: yellow;
}

.hero-text button {
  border-width: 1px;
  border-color: yellow;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #FBFF00;
  background-color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 15%;

}

.hero-text button:hover {
  background-color: #FBFF00;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  border-color: black;
}

.hero-text h1 {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 2.5em;
}

.hero-text h2 {
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: left;
}


.hero-text p {
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: left;

}

.grid-container {
  display: grid;
  align-items: center;
  font-family: abel;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  overflow-x: hidden;

}

.grid-fullwidth {
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center;
}

.grid-2-3 {
  grid-column-start: 2;
  grid-column-end: 3;

}

.grid-1-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-2-4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-1-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 15px;
}

.grid-1-2 img {
  max-width: 90%;
}

.grid-3-4 {
  grid-column-start: 3;
  grid-column-end: 4;
}


.grid-container h1 {
  margin-top: 1%;
  margin-block-start: 15px;
  margin-block-end: 0px;
  font-size: 2.8em;
}

.grid-container h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 2em;
}

.grid-container h3 {
  margin-top: 1%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.5em;
}

.grid-container h4 {
  margin-top: 1%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.2em;
}

.grid-1-3 p {
  float: left;
  width: 90%;
  text-align: justify;
  flex-wrap: wrap;
}

.grid-3-4 img {
  margin-left: 5%;
  max-width: 80%;
  margin-top: 5%;
}

figure {
  float: right;
  width: 90%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  display: table;
  margin: auto;
  margin-top: 0%;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}





.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #FBFF00;
  text-align: center;
  font-size: 0.8em;
}

.footer img {
  width: auto;
  height: 20px;
  float: right;
  margin-right: 2%;
  fill: #FBFF00;
}

.footer p {
  bottom: 1px;
}

@media all and (max-width: 800px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text h2 {
    font-size: 1em;
  }

}

@media all and (max-width: 600px) {

.hero-image-icons img {
  max-height: 15px;
  margin-right: 3%;
  margin-top: 3%;
}

.hero-text button {
  margin-top: 8%;
}

  .footer p {
    font-size: 0.6em;
  }

  .footer img {
    max-height: 12px;
  }

  figure {
    display: none;
  }
  figcaption {
    display: none;
  }

  .grid-1-3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .grid-2-4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

}
